@{
    ViewData["Title"] = "Home";
}


<div class="text-center" >
    <h1 class="display-4">Library Management System</h1>
    <p>Welcome to the library.</p>

    <p>
        <a href="/Book">📚 Browse Books</a>
    </p>
</div>